  <div class="centered-container">
    <div class="flex-column gap-2">
      <p-floatLabel>
        <input pInputText id="nome" [(ngModel)]="nome" />
        <label for="nome">Nome</label>
      </p-floatLabel>
      <p-floatLabel>
        <input type="text" pInputText id="sobrenome" [(ngModel)]="sobrenome" />
        <label for="sobrenome">Sobrenome</label>
      </p-floatLabel>
      <p-floatLabel>
        <input type="number" pInputText id="idade" [(ngModel)]="idade" />
        <label for="idade">Idade</label>
      </p-floatLabel>
      <p-floatLabel>
        <p-inputMask
            mask="999.999.999-99"
            [(ngModel)]="cpf"
            id="ssn_input" />
        <label for="ssn_input">CPF</label>
      </p-floatLabel>
      <div class="card flex justify-content-center">
        <p-dropdown
            [options]="sexos"
            [(ngModel)]="selectedSexo"
            optionLabel="sexo"
            placeholder="Selecione o sexo" />
      </div>
      <div class="btn-container">
        <a routerLink="/listar">
        <p-button
          label="Voltar"
          [raised]="true"
          severity="danger"
        ></p-button>
        </a>
          <p-button
            label="Cadastrar"
            [raised]="true"
            severity="success"
            (click)="cadastrar()"
          ></p-button>
      </div>
    </div>
  </div>
