<div class="centered-container">
  <div class="flex-column gap-2">
    <p-floatLabel>
      <input pInputText id="nome" [ngModel]="pessoa?.nome" disabled="true"/>
      <label for="nome">Nome</label>
    </p-floatLabel>
    <p-floatLabel>
      <input type="text" pInputText id="sobrenome" [ngModel]="pessoa?.sobrenome" disabled="true"/>
      <label for="sobrenome">Sobrenome</label>
    </p-floatLabel>
    <p-floatLabel>
      <input type="number" pInputText id="idade" [ngModel]="pessoa?.idade" disabled="true"/>
      <label for="idade">Idade</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputMask
        mask="999.999.999-99"
        [ngModel]="pessoa?.cpf"
        id="cpf_input"
        disabled="true"/>
      <label for="cpf_input">CPF</label>
    </p-floatLabel>
    <div class="card flex justify-content-center">
      <p-dropdown
        [options]="sexos"
        [ngModel]="pessoa?.sexo"
        optionLabel="sexo"
        placeholder="Selecione o sexo"
        [disabled]="true"
        />
    </div>
    <div class="btn-container">
        <p-button
          label="Voltar"
          [raised]="true"
          severity="danger"
          [routerLink]="['/']">
        </p-button>
    </div>
  </div>
</div>
